html{
	background-color: #cfe3ff;
}

body{
	margin: 0;
}

header{
	background-color: #cfe3ff;
}

.left-panel{
	background-color: black;
	height: 90vh;
	color: white;

}

.panel-navigation{
	cursor: pointer;
	margin: 20px;
}

.right-panel{
	width: auto;
	border: solid black 3px;
}

.d-block{
	object-fit: cover;
	max-height: 90vh;
	height: 100vh !important;
	width: 100%;
}