html{
	background-color: #cfe3ff;
}

body{
	margin: 0;
}

header{
	background-color: #cfe3ff;
}

.left-panel{
	background-color: #4d6eb9;
	height: 90vh;
	color: white;

}

.panel-navigation{
	cursor: pointer;
	margin: 20px;
}

 .panel-drive{
 	display: none;
 	color: white;
 	left: 0;
 	background-color: #4d6eb9;
 	z-index: 1000;
 	position: fixed;
 	width: 100%;
 	height: 90vh;
 }

 .internal{
 	background-color: #2751b1;
 	color: white;
 	z-index: 1002;
 	position: fixed;
 	width: 200px;
 	height: 200px;
 }

 .additionally{
 	display: none;
 	z-index: 1004;
 	width: 200px;
 	height: 200px;
 	position: fixed;
 	color: white;
 	background-color: black;
 }

.panel-inside{
 	display: none;
 	color: white;
 	top: 68px;
 	left: 35vw;
 	background-color: #527de1;
 	z-index: 1001;
 	position: fixed;
 	width: 200px;
 	height: 200px;
 }
